{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">itProger</a>
        <div class="collapse navbar-collapse" id="navbarsExample09">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Главная <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contacti' %}">Контакты</a>
            </li>
          </ul>
            {% if not user.is_authenticated %}
                <a href="{% url 'reg' %}">
                    <button class="btn btn-outline-warning">Регистрация</button>
                </a>
                <a href="{% url 'user' %}" class="ml-2">
                    <button class="btn btn-outline-info">Войти</button>
                </a>
            {% else %}
                <a href="{% url 'news-add' %}">
                    <button class="btn btn-outline-secondary">Добавить статью</button>
                </a>
                <a href="{% url 'profile' %}">
                    <button class="btn btn-outline-warning ml-2">Профиль</button>
                </a>
                <a href="{% url 'exit' %}" class="ml-2">
                    <button class="btn btn-outline-info">Выйти</button>
                </a>
            {% endif %}
        </div>
      </nav>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                {% if messages %}
                    {% for mes in messages %}
                        <div class="alert alert-success">{{ mes }}</div>
                    {% endfor %}
                {% endif %}

                {% block content %}

                {% endblock %}
            </div>
            <aside class="col-md-4">
                <h3>боковая часть</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolores excepturi inventore quia
                    quo sint tenetur!</p>
                {% block aside_block %}

                {% endblock %}
            </aside>
        </div>
    </div>
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">© 2100</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Cool stuff</a></li>
          <li><a class="text-muted" href="#">Random feature</a></li>
          <li><a class="text-muted" href="#">Team feature</a></li>
          <li><a class="text-muted" href="#">Stuff for developers</a></li>
          <li><a class="text-muted" href="#">Another one</a></li>
          <li><a class="text-muted" href="#">Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Resource</a></li>
          <li><a class="text-muted" href="#">Resource name</a></li>
          <li><a class="text-muted" href="#">Another resource</a></li>
          <li><a class="text-muted" href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>
</body>
</html>